<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game!</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken Game!</h1>
  <div th:if="${name}">
    Hi [[${name}]]
  </div>
  <h2>エントリー</h2>
  <!--<div th:if="${entry}">
    <ul>-->
  <!--<eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
  <!--<li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>-->

  <p th:if="${users}">
    <!--statはステータス変数
        https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
      -->
  <div th:each="user,stat:${users}">
    <ul>
      <li>[[${user.name}]]</li>
    </ul>
  </div>
  </p>

  <h2>試合結果</h2>
  <p th:if="${matches}">
    <!--statはステータス変数
          https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
        -->
  <div th:each="match,stat:${matches}">
    id:[[${match.id}]]
    user1:[[${match.user1}]]
    user2:[[${match.user2}]]
    user1の手:[[${match.user1Hand}]]
    user2の手:[[${match.user2Hand}]]
  </div>
  </p>

  <p>
    <a href="/jankengu">グー</a>
    <a href="/jankenchoki">チョキ</a>
    <a href="/jankenpa">パー</a>
  </p>

  <div th:if="${user == 'Gu'}">
    あなたの手 [[${user}]]
    <p />
    相手の手 Gu
    <p />
    結果 Draw!
  </div>
  <div th:if="${user == 'Choki'}">
    あなたの手 [[${user}]]
    <p />
    相手の手 Gu
    <p />
    結果 CPU Win!
  </div>
  <div th:if="${user == 'Pa'}">
    あなたの手 [[${user}]]
    <p />
    相手の手 Gu
    <p />
    結果 You Win!
  </div>
</body>

</html>
