<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game!</title>
</head>

<body>
  <h1>Janken Game!</h1>
  <div th:if="${name}">
    Hi [[${name}]]
  </div>
  <p>
    <a href="/jankengu">グー</a>
    <a href="/jankenchoki">チョキ</a>
    <a href="/jankenpa">パー</a>
  </p>

  <div th:if="${user == 'Gu'}">
    あなたの手 [[${user}]]
    <p />
    相手の手 Gu
    <p />
    結果 Draw!
  </div>
  <div th:if="${user == 'Choki'}">
    あなたの手 [[${user}]]
    <p />
    相手の手 Gu
    <p />
    結果 CPU Win!
  </div>
  <div th:if="${user == 'Pa'}">
    あなたの手 [[${user}]]
    <p />
    相手の手 Gu
    <p />
    結果 You Win!
  </div>
</body>

</html>
