<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game!</title>
</head>

<body>
  <h1>Match</h1>
  <h2>[[${name}]] V.S. [[${aite.name}]]</h2>
  <p>
    <a href="/fight(id=${aite.id}, uhand=Gu)">グー</a>
    <a href="/fight(id=${aite.id}, uhand=Choki)">チョキ</a>
    <a href="/fight(id=${aite.id}, uhand=Pa)">パー</a>
  </p>

  <div th:if="${hand == 'Gu'}">
    あなたの手 [[${hand}]]
    <p />
    相手の手 Gu
    <p />
    結果 Draw!
  </div>
  <div th:if="${hand == 'Choki'}">
    あなたの手 [[${hand}]]
    <p />
    相手の手 Gu
    <p />
    結果 [[${aite.name}]] Win!
  </div>
  <div th:if="${hand == 'Pa'}">
    あなたの手 [[${hand}]]
    <p />
    相手の手 Gu
    <p />
    結果 You Win!
  </div>

  <a href="/janken">もどる</a>
</body>

</html>
